{
    "presets": [
        [
            "env",
            {
                "debug": true,
                "loose": false,
                "modules": "commonjs",
                "spec": false,
                "tragets": {
                    "browser" : ["> 2%"],
                    "node": "current"
                },
                "useBuiltIns": false
            }
        ]
    ],
    "ignore": ["*.md"],
    "plugins": [
            "transform-runtime"
    ]
}
